<?xml version="1.0"?>
<!--
/**
 * Created by Qoliber
 *
 * @author      Lukasz Owczarczuk <lowczarczuk@qoliber.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="qoliber_media_cleaner" translate="label" sortOrder="1200"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Media Cleaner</label>
            <tab>qoliber</tab>
            <resource>Qoliber_MediaCleaner::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_enabled" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_expression" translate="label" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Cron Expression</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="cron_enabled">1</field>
                    </depends>
                </field>
                <field id="clean_cache_directory" translate="label" type="select" sortOrder="40"
                       showInDefault="1" canRestore="1">
                    <label>Clean Cache Directory As Well</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
